.container {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background-color: lightcyan;
    border-radius: 15px;
}

.header {
    align-self: start;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
.statusBar {
    justify-self: end;
}
.infoContent {
    display: flex;
    justify-content: center;
}
